:root {
   /* COLORS */
   --accent-color: rgb(252, 183, 43);
   --header-text-color: rgb(73, 85, 103);
   --text-color: rgb(147, 156, 170);
   --white-color: rgb(255, 255, 255);

   /* FONTS */
   --main-font: 'Space Mono', monospace;
   --secondary-font: 'Lexend Deca', sans-serif;
}

html {
   box-sizing: border-box;
 }
 
 *,
 *::after,
 *::before {
   box-sizing: inherit;
 }
 
 body {
   margin: 0;
   padding: 0;
   max-width: 100%;
   font-family: var(--main-font);
   font-size: 15px;
   line-height: 167%;
   color: var(--text-color);
 }

.container {
   max-width: 1400px;
   margin: 0 auto;
   padding: 0 25px;
}

/* HEADER */

.content {
   display: flex;
   align-items: center;
   height: 96px;
}

.logo {
   margin-right: 38px;
}

.nav {
   margin-right: 20px;
}

.nav {
   margin-right: auto;
}

.nav-list {
   display: flex;
   padding: 0;
}

.nav-link {
   margin-right: 32px;
   font-weight: 700;
   color: var(--text-color);
   text-decoration: none;
   transition: color .3s ease;
}

.nav-link:hover {
   color: var(--accent-color);
}

.btn {
   padding: 11px 36px;
}

.primary-btn {
   background: #FCB72B;
   color: var(--white-color);
   text-decoration: none;
   border: 3px solid var(--accent-color);
   transition: background-color .3s ease;
}

.primary-btn:hover {
   background-color: transparent;
   color: var(--accent-color);
}

/* HERO SECTION */

.hero {
   padding: 152px 0;
   background-image: url(/img/rounds.png), linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)), url("/img/bg-image.png");
   background-repeat: no-repeat;
   background-size: auto, cover, cover;
   background-position: top calc(50% + 150px) right, 0 0, 0 0;
}

.main-title {
   margin-top: 0;
   margin-bottom: 40px;
   font-size: 56px;
   line-height: 56px;
   letter-spacing: -2.5px;
   color: var(--white-color);
}

.hero-text {
   position: relative;
   margin-top: 0;
   margin-bottom: 40px;
   margin-left: 96px;
   width: 405px;
   color: var(--white-color);
   font-family: var(--secondary-font);
}

.hero-text::before {
   position: absolute;
   height: 15px;
   width: 100%;
   background-color: var(--accent-color);
   top: 43px;
   left: -460px;

   content: "";
}

.hero-text::after {
   position: absolute;
   background-image: url("/img/top-arrow-line.svg");
   background-repeat: no-repeat;
   width: 452px;
   height: 150px;
   top: 43px;
   left: 450px;

   content: "";
}

.hero-btn {
   margin-left: 96px;
}


/* MAIN */

.main {
   padding: 160px 0 200px 0;
}

/* SERVISE SECTION */

.service {
   margin-bottom: 200px;
}

.service-list {
   display: flex;
   margin-right: 30px;
   padding: 0;
   list-style: none;
}

.app {
   background: url("/img/tel.png") no-repeat center center;
}

.pick {
   background: url("/img/bike.png") no-repeat center center;
}

.enjoy {
   background: url("/img/bike-with-people.png") no-repeat center center;
}

.service-icon {
   position: relative;
   width: 96px;
   height: 96px;
   margin-bottom: 40px;
   border-radius: 50%;
   background-color: var(--accent-color);
}

.service-icon::before {
   position: absolute;
   width: 400%;
   height: 15px;
   top: 40px;
   left: -360px;
   background-color: #E5ECF4;
   z-index: -1;

   content: "";
}

.service-icon::after:not(:last-child) {
   position: absolute;
   width: 400%;
   height: 15px;
   top: 40px;
   left: 60px;
   background-color: #E5ECF4;
   z-index: -1;

   content: "";
}

.service-title {
   margin-top: 0;
   margin-bottom: 27px;
   font-size: 24px;
   line-height: 28px;
   letter-spacing: -1.07143px;
   color: var(--header-text-color);
}

.service-text {
   margin: 0;
   font-family: var(--secondary-font);
}

/* FEATURES */

.features {
   background-image: url("/img/arrow-right.png"), 
                     url("/img/arrow-left.png"), 
                     url("/img/arrow-right.png"), 
                     url("/img/round.png"), 
                     url("/img/round.png"), 
                     url("/img/round.png");
   background-repeat: no-repeat;
   background-position: left calc(50% + 455px) top calc(50% + -463px), 
                        right calc(50% + 850px) top calc(50% + -135px),
                        left calc(50% + 200px) top calc(50% + 300px),
                        left calc(50% + 940px) top calc(50% + -612px), 
                        right calc(50% + 940px) top calc(50% + -2px),
                        left calc(50% + 940px) top calc(50% + 607px);
}

.features-list {
   padding: 0;
   list-style: none;
}

.features-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 160px;
}

.features-item:nth-child(even) {
   flex-direction: row-reverse;
}

.features-item__content {
   max-width: 40%;
   margin-right: 20px;
}

.features-item__title {
   margin-top: 0;
   margin-bottom: 24px;
   font-size: 48px;
   line-height: 48px;
   letter-spacing: -2.14286px;
   color: var(--header-text-color);
}

.features-item__text {
   margin-top: 0;
   margin-bottom: 40px;
   font-family: var(--secondary-font);
}

.features-item__photo {
   width: 450px;
   height: 450px;
   background-repeat: no-repeat;
   z-index: -1;
}

.features-item__photo__girl {
   background-image: url("/img/girl-with-tel.png");
}

.features-item__photo__city {
   background-image: url("/img/city.png");
}

.features-item__photo__wallet {
   background-image: url("/img/wallet.png");
   border-radius: 50%;
   height: 445px;
   width: 445px;
}

/* FOOTER */

/* APPSTORE */

.appstore {
   padding: 102px 0;
   background-color: var(--header-text-color);
   background-image: url("/img/footer-bg.png");
   background-position: bottom right;
   background-repeat: no-repeat;
}

.appstore__title {
   max-width: 420px;
   margin-right: auto;
   font-size: 48px;
   line-height: 48px;
   letter-spacing: -2.14286px;
   color: var(--white-color);
}

.appstore-link {
   display: inline-block;
}

.appstore-link:not(:last-child) {
   margin-right: 18px;
}

/* FOOTER END */

.end {
   background-color: #333A44;
}

.social-link {
   display: inline-block;
   margin-left: 24px;
}

.social-link:hover {
   fill: var(--white-color);
}
