:root {
   /* COLORS */
   --accent-color: rgb(252, 183, 43);
   --header-text-color: rgb(73, 85, 103);
   --text-color: rgb(147, 156, 170);
   --white-color: rgb(255, 255, 255);

   /* FONTS */
   --main-font: 'Space Mono', monospace;
   --secondary-font: 'Lexend Deca', sans-serif;
}

html {
   box-sizing: border-box;
 }
 
 *,
 *::after,
 *::before {
   box-sizing: inherit;
 }
 
 body {
   margin: 0;
   padding: 0;
   max-width: 100%;
   font-family: var(--main-font);
   font-size: 15px;
   line-height: 167%;
   color: var(--text-color);
 }

 .visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 25px;
}

/* HEADER */

.content {
   display: flex;
   align-items: center;
}

.header,
.end {
   padding: 22px 0;
}
.logo {
   margin-right: 38px;
}

.nav {
   margin-right: 20px;
}

.nav-list {
   display: flex;
   padding: 0;
}

.nav-link {
   margin-right: 32px;
   color: var(--text-color);
   text-decoration: none;
   transition: color .3s ease;
}

.nav-link:hover {
   color: var(--accent-color);
}

.btn {
   padding: 11px 36px;
}

.primary-btn {
   background: #FCB72B;
   color: var(--white-color);
   text-decoration: none;
   border: 3px solid var(--accent-color);
   transition: background-color .3s ease;
   white-space: nowrap;
}

.primary-btn:hover {
   background-color: transparent;
   color: var(--accent-color);
}

.header-btn {
   margin-left: auto;
}

/* HERO SECTION */

.hero {
   padding: 152px 0;
   background-image: url("/img/top-arrow-line.png"), url("/img/rounds.png"), linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)), url("/img/bg-image.png");
   background-repeat: no-repeat;
   background-size: auto, auto, cover, cover;
   background-position: top calc(50% + 112px) left calc(50% + 200px), top calc(50% + 150px) right, 0 0, 0 0;
}

.title {
   margin: 0;
   font-size: 56px;
   line-height: 56px;
   letter-spacing: -2.5px;
   color: var(--white-color);
}

.main-title {
   margin-bottom: 40px;
}

.hero-text {
   position: relative;
   margin-top: 0;
   margin-bottom: 40px;
   margin-left: 96px;
   max-width: 405px;
   color: var(--white-color);
   font-family: var(--secondary-font);
}

.hero-text::before {
   position: absolute;
   height: 15px;
   width: 100%;
   background-color: var(--accent-color);
   top: 43px;
   left: -460px;

   content: "";
}

.hero-btn {
   margin-left: 96px;
}


/* MAIN */

.main {
   padding: 160px 0 120px 0;
}

/* SERVISE SECTION */

.service {
   margin-bottom: 200px;
}

.service-list {
   display: flex;
   margin-right: 30px;
   padding: 0;
   list-style: none;
}

.service-item:not(:last-child) {
   margin-right: 30px;
}

.app {
   background: url("/img/tel.png") no-repeat center center;
}

.pick {
   background: url("/img/bike.png") no-repeat center center;
}

.enjoy {
   background: url("/img/bike-with-people.png") no-repeat center center;
}

.service-icon {
   position: relative;
   width: 96px;
   height: 96px;
   margin-bottom: 40px;
   border-radius: 50%;
   background-color: var(--accent-color);
}

.service-icon::before {
   position: absolute;
   width: 400%;
   height: 15px;
   top: 40px;
   left: -360px;
   background-color: #E5ECF4;
   z-index: -1;

   content: "";
}

.service-icon::after:not(:last-child) {
   position: absolute;
   width: 400%;
   height: 15px;
   top: 40px;
   left: 60px;
   background-color: #E5ECF4;
   z-index: -1;

   content: "";
}

.service-title {
   margin-top: 0;
   margin-bottom: 27px;
}

.content-title {
   font-size: 24px;
   line-height: 28px;
   letter-spacing: -1.07143px;
   color: var(--header-text-color);
}

.service-text {
   margin: 0;
   font-family: var(--secondary-font);
}

/* FEATURES */

.features {
   background-image: url("/img/arrow-right.png"), 
                     url("/img/arrow-left.png"), 
                     url("/img/arrow-right.png"), 
                     url("/img/round.png"), 
                     url("/img/round.png"), 
                     url("/img/round.png");
   background-repeat: no-repeat;
   background-position: left calc(50% + 355px) top calc(50% + -463px), 
                        right calc(50% + 750px) top calc(50% + -135px),
                        left calc(50% + 750px) top calc(50% + 550px),
                        left calc(50% + 840px) top calc(50% + -612px), 
                        right calc(50% + 840px) top calc(50% + -2px),
                        left calc(50% + 840px) top calc(50% + 607px);
}

.features-list {
   padding: 0;
   list-style: none;
}

.features-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 160px;
}

.features-item:nth-child(even) {
   flex-direction: row-reverse;
}

.features-item__content {
   max-width: 40%;
   margin-right: 20px;
}

.features-item__title {
   margin-top: 0;
   margin-bottom: 24px;
}

.section-title {
   font-size: 48px;
   line-height: 48px;
   letter-spacing: -2.14286px;
   color: var(--header-text-color);
}

.features-item__text {
   margin-top: 0;
   margin-bottom: 40px;
   font-family: var(--secondary-font);
}

.features-item__photo {
   width: 450px;
   height: 450px;
   background-repeat: no-repeat;
   z-index: -1;
}

.features-item__photo__girl {
   background-image: url("/img/girl-with-tel.png");
}

.features-item__photo__city {
   background-image: url("/img/city.png");
}

.features-item__photo__wallet {
   background-image: url("/img/wallet.png");
   border-radius: 50%;
   height: 445px;
   width: 445px;
}

/* FOOTER */

/* APPSTORE */

.appstore {
   padding: 102px 0;
   background-color: var(--header-text-color);
   background-image: url("/img/footer-bg.png");
   background-position: bottom right;
   background-repeat: no-repeat;
}

.appstore__title {
   max-width: 420px;
   margin-top: 0;
   margin-bottom: 0;
   margin-right: auto;
   color: var(--white-color)!important;
}

.appstore-link {
   display: inline-block;
}

.appstore-link:not(:last-child) {
   margin-right: 18px;
}

/* FOOTER END */

.end {
   background-color: #333A44;
}

.social {
   display: flex;
   align-items: center;
   margin-left: auto;
}

.social-link {
   display: inline-block;
   margin-left: 24px;
}

path {
   transition: fill .3s ease;
}

.social-link:hover path {
   fill: var(--white-color);
}

/* ABOUT PAGE */

/* HERO-ABOUT */

.hero-mini {
   padding: 72px 0;
   background-repeat: no-repeat;
   background-size: auto, cover, cover;
   background-position: center right;

}

.hero-mini-about {
   background-image: url(/img/rounds.png), linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)), url("/img/bg-about-hero.png");
}

/* FEATURES ABOUT */

.features-about {
   background-image: url("/img/arrow-right-top.png"), 
   url("/img/arrow-left.png"), 
   url("/img/round.png"), 
   url("/img/round.png");
background-repeat: no-repeat;
background-position: left calc(50% + 355px) top calc(50% + -200px), 
      right calc(50% + 760px) top calc(50% + 157px),
      left calc(50% + 840px) top calc(50% + -306px), 
      right calc(50% + 840px) top calc(50% + 300px);
}

.features-item__photo__girl-tel {
   background-image: url("/img/girl-tel.png");
   border-radius: 50%;
   width: 445px;
   height: 445px;
}

.features-item__photo__tramway {
   background-image: url("/img/trolebus.png");
   background-position: center center;
}

/* OUR VALUES */

.value {
   margin-bottom: 120px;
}

.value__title {
   margin-top: 0;
   margin-bottom: 48px;
   text-align: center;
}

.value-list {
   display: flex;
   padding: 0;
   list-style: none;
}

.value-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 350px;
   text-align: center;
   counter-increment: counter;
}

.value-item:not(:last-child) {
   margin-right: 30px;
}

.value-item__photo {
   position: relative;
   width: 240px;
   height: 240px;
   margin-top: 55px;
   margin-bottom: 87px;
   border-radius: 50%;
}

.value-item__photo::after {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 96px;
   height: 96px;
   top: 200px;
   left: 70px;
   font-size: 24px;
   line-height: 28px;
   text-align: center;
   letter-spacing: -1.07143px;
   color: var(--header-text-color);
   background-color: var(--accent-color);
   border-radius: 50%;

   content: "0" counter(counter);
}

.value-item__photo-tel {
   background-image: url("/img/value-tel.png");
}

.value-item__photo-bike {
   background-image: url("/img/value-bike.png");
}

.value-item__photo-people {
   background-image: url("/img/value-people.png");
}

.value-item__title {
   margin-top: 0;
   margin-bottom: 27px;;
   text-align: center;
}

.value-item__text {
   font-family: var(--secondary-font);
   margin: 0;
}

/* FAQs */

.faq-how {
   display: flex;  
}

.faq-how:not(:last-child) {
   margin-bottom: 64px;
}

.faq-title {
   margin-bottom: 64px;
   text-align: center;
}

.faq-how__title {
   flex: 0 0 33%;
   margin: 0;
   margin-right: 30px;
   font-size: 40px;
   line-height: 48px;
   letter-spacing: -1.78571px;
   color: var(--header-text-color);
}

.accordions {
   padding: 0;
   margin: 0;
   list-style: none;
}


.accordion {
   position: relative;
   background-color: #F2F5F9;
   padding: 32px 40px;
   margin-bottom: 16px;
   transition: background-color .3s ease;
}

.accordion:hover {
   background-color: #FFF4DF;
}

.radio-btn {
   display: none;
}

.accordion-title {
   position: relative;
   display: block;
   cursor: pointer;
}

.accordion-title::after {
   position: absolute;
   width: 18px;
   height: 8px;
   right: 0;
   background-image: url("/img/arrow-top.png");
   background-position: center center;
   content: "";
   transition: transform .3s ease;
}

input:checked .accordion-title::after {
   background-image: url("/img/arrow-bottom.png");
   width: 16px;
   height: 8px;
}

.accordion-text {
   position: relative;
   overflow: hidden;
   height: 0;
   margin: 0;
   transition: padding .3s ease;
   font-family: var(--secondary-font);
   color: var(--header-text-color);
}

.radio-btn:checked ~ .accordion-text {
   padding-top: 24px;
   height: auto;
}

.radio-btn:checked ~ .accordion-title::after {
   transform: rotate(180deg);
}

.features-careers {
   background-image: url("/img/arrow-right.png"), 
                     url("/img/round.png"); 
   background-repeat: no-repeat;
   background-position: left calc(50% + 355px) top calc(50% + 140px), 
                        left calc(50% + 840px) top calc(50% + 1px);
}

.features-item__photo__boy-tablet {
   background-image: url("/img/boy-tablet.png");
   width: 445px;
   height: 445px;
   border-radius: 50%;
}

/* APPLY */

.hero-mini__career {
   background-image: url(/img/rounds.png), linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)), url("/img/careers-bg.png");
}

.apply-list {
   list-style: none;
   padding: 0;
}

.apply-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 32px 64px 35px 40px;
   background-color: #F2F5F9;
}

.apply-item:not(:last-child) {
   margin-bottom: 24px;
}

.apply-position {
   margin-top: 0;
   margin-bottom: 8px;
}

.apply-country {
   margin: 0;
   font-family: var(--secondary-font);
   color: var(--header-text-color);
}


/* LOCATION PAGE */

.location-photo {
   margin-bottom: 120px;
   width: 100%;
   height: auto;
}

.location-content {
   display: flex;
   align-items: center;
}

.location-title {
   width: 305px;  
   margin-top: 0;
   margin-bottom: 0;
   margin-right: 76px;
}

.location-text {
   font-family: var(--secondary-font);
   margin-top: 0;
   margin-bottom: 0;
   margin-right: auto;
   width: 445px;
}










/* ADAPTIVE */

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
   .container {
      padding-left: 97px;
      padding-right: 98px;
   }

   /* HERO SECTION */

   .hero {
      text-align: center;
      padding: 137px 0 217px 0;
      background-position: top calc(50% + 216px) left calc(50% + -285px), top calc(50% + 245px) right, 0 0, 0 0;
   }

   .hero-text {
      max-width: 573px;
      margin: 0 auto;
      margin-bottom: 46px;
   }

   .hero-text::before {
      display: none;
   }

   .hero-btn {
      margin-left: 0;
   }

   .main {
      padding: 122px 0 104px 0;
   }

   /* SERVICE SECTION */

   .service {
      margin-bottom: 145px;
   }

   .service-list {
      flex-direction: column;
      margin: 0;
   }

   .service-item {
      display: flex;
      margin-right: 0;
   }

   .service-item:not(:last-child) {
      margin-bottom: 40px;
   }

   .service-icon {
      display: table;
      margin-right: 79px;
   }

   .service-icon::before {
      width: 15px;
      height: 130%;
      top: -125px;
      left: 42px;
   }

   /*FEATURE SECTION*/
   
   .features {
      background-position: left calc(50% + 10px) top calc(50% + -946px), 
                           right calc(50% + 410px) top calc(50% + -310px), 
                           left calc(50% + 400px) top calc(50% + 700px), 
                           
                           left calc(50% + 500px) top calc(50% + -1100px), 
                           right calc(50% + 500px) top calc(50% + -170px),  
                           left calc(50% + 500px) top calc(50% + 760px);
   }
   .features-item {
      flex-direction: column;
      margin-bottom: 128px;
   }
   
   .features-item:last-child {
      margin-bottom: 0;
   } 

   .features-item__content {
      order: 2;
      max-width: 100%;
      margin-right: 0;
      text-align: center;
   }

   .features-item__title {
      margin-bottom: 40px;
   }

   .features-item__text {
      margin-bottom: 54px;
   }

   .features-item__photo {
      margin-bottom: 56px;
   }

   .features-item:nth-child(even) {
      flex-direction: column;
   }

   /*FOOTERE SECTION*/

   .appstore {
      padding: 62px 0;
   }

   .appstore .content {
      flex-direction: column;
   }

   .section-title {
      text-align: center;
   }

   .appstore__title {
      margin-right: 0;
      margin-bottom: 40px;
   }


   /* ABOUT SECTION */
   /* FEATURE */

   .features-about {
      margin-bottom: 120px;
      background-position: left calc(50% + 16px) top calc(50% + -445px), 
                           right calc(50% + 412px) top calc(50% + 165px),
      
                           left calc(50% + 500px) top calc(50% + -550px), 
                           right calc(50% + 500px) top calc(50% + 310px);
   }

   .value-list {
      flex-direction: column;
      align-items: center;
      padding-left: 58px;
      padding-right: 58px;
   }

   .value-item {
      width: 100%;
   }

   .value-item:not(:last-child) {
      margin: 0;
   }

   /* FAQ */

   .faq-how {
      flex-direction: column;
   }

   .faq-how__title {
      margin-right: 0;
      margin-bottom: 32px;
   }

   /* LOCATION PAGE */ 
   /* LOCATION CONTENT */

   .location-content {
      flex-direction: column;
      align-items: center;
   }

   .location-title {
      width: 457px;
      margin-right: 0;
      margin-bottom: 40px;
   }

   .location-text {
      margin-right: 0;
      margin-bottom: 40px;
      text-align: center;
   }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

/* Iphone 5 */
@media (max-width: 320px) {

}
